<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/login.js"></script>
  </head>
  <body class="sinai-body">
    {{> templates/header}}
    <div id="main" class="text-bg">
      <div>
        <h1>Browse Manuscripts by Shelfmark</h1>

        {{#unless error}}
        <div id="browse-main-content">
          <div id="search-results">
            <ul>
              {{#each sinai-manuscript-metadata}}
              <li>
                <span class="helper"></span>
                <a href="/viewer2/{{urlencode ARK}}">
                  <img class='browse-thumbnail' src="{{imageserver}}/iiif/{{[Thumbnail URL Fragment]}}" alt="{{Title}}">
                </a>
                <p>
                  <a href="/viewer2/{{urlencode ARK}}">{{Title}}</a><br><br>
                  <b>Overtext Languages:</b> {{[Overtext Language]}}<br>
                  <b>Overtext Content:</b> {{[Overtext Content]}}<br>
                  <b>Undertext Languages:</b> {{[Undertext Language(s)]}}<br>
                  <b>Date:</b> {{Date}}<br>
                  <b>Extent:</b> {{Extent}}<br>
                  <b>Form:</b> {{Form}}<br>
                </p>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
        {{else}}
        <div id="browse-error">
          <h3>Error</h3>
          <p>There was an error generating this page. Please report the following to the system administrator:</p>
          <code class="error-code">{{error}}</code>
        </div>
        {{/unless}}
      </div>
    </div>
    {{> templates/footer}}
  </body>
</html>
