<html>
  <head>
    <link href="/mirador/css/mirador-combined.css" rel="stylesheet" type="text/css">
      <script src="/mirador/mirador.js"></script>
      <style type="text/css">
        body { padding: 0; margin: 0; overflow: hidden; font-size: 70%; }
        #viewer {
          background: #333 url(/mirador/images/debut_dark.png) left top repeat;
          width: 100%; height: 100%; position: fixed;
        }
        .window-manifest-title {
          font-size: 85%;
        }
        .manifest-info {
          overflow: hidden;
          font-size: .85em;
        }
      </style>
  </head>

  <body>
    <div id="viewer"></div>
    <script type="text/javascript">
      $(document).ajaxStop(function() {
        var page = $(".window-manifest-title:not(:contains('ark:'))");

        if (page) {
          $(".window-manifest-title:contains('ark:')").text(page.text() + '_PSH_color');
        }
      });

      $(function() {
        Mirador({
          "id": "viewer",
          "saveSession": false,
          "showAddFromURLBox": false,
          "layout": "1x2",
          "data": [{
            "manifestUri": "{{imageserver}}/iiif/{{id}}/manifest",
            "location": "UCLA"
          },{
            "manifestUri": "{{imageserver}}/iiif/{{selected}}/manifest",
            "location": "UCLA"
          }],
          "windowObjects": [{
            "loadedManifest": "{{imageserver}}/iiif/{{id}}/manifest",
            "slotAddress" : "row1.column1",
            "availableViews": ["ImageView"],
            "viewType": "ImageView",
            "annotationLayer": false,
            "annotationState": "annoOff",
            "overlay": false,
            "fullScreen": true,
            "displayLayout": true,
            "layoutOptions": {
              "close": true
            },
            "bottomPanel": false,
            "bottomPanelVisible": false,
            "sidePanel": false,
            "sidePanelVisible": false
          },{
            "loadedManifest": "{{imageserver}}/iiif/{{selected}}/manifest",
            "slotAddress" : "row1.column2",
            "availableViews": ["ImageView", "ThumbnailsView", "BookView"],
            "viewType": "ImageView",
            "annotationLayer": false,
            "annotationState": "annoOff",
            "overlay": false,
            "fullScreen": true,
            "displayLayout": true,
            "layoutOptions": {
              "newObject": true,
              "close": true,
              "slotRight": true,
              "slotBelow": true
            },
            "bottomPanel": true,
            "bottomPanelVisible": true,
            "sidePanel": false,
            "sidePanelVisible": false
          }]
        });
      });
    </script>
  </body>

</html>
