<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- for the navbar -->
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <link href="/mirador/css/mirador-combined.min.css" rel="stylesheet" type="text/css">

    <!-- mirador plugin styles -->
    <link rel="stylesheet" type="text/css" href="/mirador/MiradorRuler.min.css">
    <link rel="stylesheet" type="text/css" href="/mirador/MiradorDisableZoom.min.css">
    <link rel="stylesheet" type="text/css" href="/mirador/MiradorSyncWindows.min.css">
    <link rel="stylesheet" type="text/css" href="/mirador/MiradorShareWorkspace.min.css">

    <title>Mirador Viewer</title>
    <style type="text/css">
     #viewer {
       width: 100%;
       height: 100%;
       position: fixed;
     }
    </style>
  </head>
  <body>
    {{> templates/main-navbar}}
    {{#unless error}}
      <div id="viewer"></div>

      <!-- mirador -->
      <script src="/mirador/mirador.min.js"></script>

      <!-- mirador plugin scripts -->
      <!--<script src="/mirador/openseadragon-scalebar.js"></script>-->
      <script src="/mirador/MiradorRuler.min.js"></script>
      <script src="/mirador/MiradorDisableZoom.min.js"></script>
      <script src="/mirador/MiradorSyncWindows.min.js"></script>
      <script src="/mirador/MiradorShareWorkspace.min.js"></script>

      <script type="text/javascript">

      $(function() {
        var anno_token;
        var mirador = Mirador({
          "id": "viewer",
          "layout": "1",
          "preserveManifestOrder": true,
          'language': 'en',
          'buildPath': '/mirador/',
          "data": [
            { "manifestUri": "{{imageserver}}/iiif/{{id}}/manifest", "location": "UCLA" }
          ],
          "windowSettings": {
            "availableViews": ["ImageView", "ThumbnailsView"],
            "viewType": 'ImageView',
            "canvasControls": {
              "annotations": {
                "annotationLayer": false,
                "annotationCreation": false,
                "annotationState": "off"
              },
              "imageManipulation": {
                "manipulationLayer": true,
                "controls": {
                  "mirror": true
                }
              }
            },
            "layoutOptions": {
              "newObject": true,
              "close": true,
            },
            "overlay": false,
            "sidePanelVisible": false
          },
          "windowObjects": [{
            "loadedManifest": "{{imageserver}}/iiif/{{id}}/manifest",
            "slotAddress" : "row1",
          }],
          "sidePanelOptions" : {
            "layersTabAvailable": true
          },
          "saveSession": true
        });

        var manifests = [
          {{#each manifests}}
            "{{imageserver}}/iiif/{{urlencode ark}}/manifest",
          {{/each}}
        ];

        var startManifest = manifests.indexOf("{{imageserver}}/iiif/{{id}}/manifest");

        if (startManifest != -1) {
          manifests.splice(startManifest, 1); // remove active manifest

          mirador.viewer.eventEmitter.subscribe('windowAdded', function(event, window) {
            // Watch until OSD has opened (not loaded, but good enough)
            mirador.viewer.eventEmitter.subscribe('osdOpen.' + window.id, function() {
              // Attach MouseEnter to 'Add Window' link so we can load other manifests
              $(".add-flexible-slot").mouseenter(function() {
                // Mirador will ignore manifests that already exist so this is okay
                for (var index = 0; index < manifests.length; index++) {
                  mirador.viewer.addManifestFromUrl(manifests[index]);
                }
              });

              // Attach MouseEnter to popup that opens the list of other manifests
              $(".mirador-icon-window-menu ul li").mouseenter(function() {
                // Mirador will ignore manifests that already exist so this is okay
                for (var index = 0; index < manifests.length; index++) {
                  mirador.viewer.addManifestFromUrl(manifests[index]);
                }
              });
            });
          });
        } else {
          console.error("Didn't find default manifest in the list of manifests");
        }
      });

      </script>
    {{else}}
      <p>There was an error loading Mirador. Please contact the system administrator.</p>
    {{/unless}}
  </body>
</html>
